<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{fragments/main_layout}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Income</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body class="hold-transition sidebar-mini">

 <div layout:fragment="content">
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div th:if="${mode == 'MODE_ALL'}">
     <!-- content-header -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Income</h1>
            
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item active">Income</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
    
      <div class="container-fluid">
       <!-- main -->
           <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-body ">
              <table id="example1" class="table table-bordered table-responsive w-100 d-block d-md-table">
               <a class="btn btn-sm btn-primary float-right" href="income/create" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Add Income</a>
            
                <thead>
                <tr>
                  <th>Date</th>
                  <th>Party</th>
                   <th>Amount</th>
                  <th>Total Amount</th>
                  <th>Remaining</th>
                  <th class="no-sort">Action</th>
                </tr>
                </thead>
                <tbody>
                
                <tr th:each="income : ${incomes}">
                  <td th:text="${income.date}"></td>
                  <td th:text="${income.party}"></td>
                   <td th:text="${income.amount}"></td>
                  <td th:text="${income.total_amount}"></td>
                  <td th:text="${income.remaining}"></td>
                  <td>
                  	<a th:href="@{income/view(id=${income.id})}" class="btn btn-sm btn-success" title="View">
                  	<span class="glyphicon glyphicon-pencil"></span><i class="fa fa-eye fa-1x"></i></a>
                  
                  	<a th:href="@{income/update(id=${income.id})}" class="btn btn-info btn-sm" title="Edit">
                  	<span class="glyphicon glyphicon-pencil"></span><i class="fa fa-edit fa-1x"></i></a> 
                  	
                  	<a href="" class="btn btn-danger btn-sm" title="Delete"
                  	 data-toggle="modal" th:attr="data-target='#exampleModal'+${income.id}">
                  	<span  class="glyphicon glyphicon-trash" ></span><i class="fa fa-trash-o fa-1x"></i></a>
                  	
                  	 <div class="modal fade" th:attr="id='exampleModal'+${income.id}" >
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-body text-center">
					      
					      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					       <div >
					       		<i class="fa fa-times-circle-o red fa-5x"></i><h5 class="mt-4">Are You Sure?</h5>
					       </div>
					       <div class="mt-4" style="color:#6c757d;">Do you really want to delete? This process cannot be undone.</div>
					       <div class="mt-4">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						        <a th:href="@{income/delete(id=${income.id})}" class="btn btn-danger">Delete</a>
					       </div>
					      </div>
					    
					    </div>
					  </div>
				   </div>
				
                  </td>
                </tr>
                
                </tbody>
                <tfoot>
               <tr>
                  <th>Date</th>
                  <th>Party</th>
                   <th>Amount</th>
                  <th>Total Amount</th>
                  <th>Remaining</th>
                  <th>Action</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
           <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    
    </div>
    <!-- /.content -->
    </div>
    <!-- MODE_ALL end -->
    
     <!-- MODE_VIEW -->
    <div th:if="${mode == 'MODE_VIEW'}">
     <!-- content-header -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">View Income</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item active"><a href="/income">Income</a></li>
               <li class="breadcrumb-item active">View</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
    
      <div class="container-fluid">
       <!-- main -->
           <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-body">

          <div class="table-responsive text-center"  th:object="${income}">
              <table class="table">
                  <tbody>
                   		<tr>	
                              <td class="text-success"> Id</td>
                              <td th:text="${income.id}"></td>
                          </tr>

                          <tr>
                              <td class="text-success"> Party</td>
                              <td th:text="${income.party}"></td>
                          </tr>
                          <tr>
                              <td class="text-success"> Amount</td>
                              <td th:text="${income.amount}"></td>
                          </tr>
                          <tr>
                              <td class="text-success"> Total Amount</td>
                              <td th:text="${income.total_amount}"></td>
                          </tr>
                           <tr>
                              <td class="text-success">Remaining</td>
                              <td th:text="${income.remaining}"></td>
                          </tr>
                          <tr>
                              <td class="text-success"><i class="fa fa-calendar"></i> Date</td>
                              <td th:text="${income.date}"></td>
                          </tr>

                  </tbody>
              </table>
          </div>
		 <button type="button" class="btn btn-secondary float-right" onclick="window.history.back()" > Go Back</button>
	
        </div>
         
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
           <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    
    </div>
    <!-- /.content -->
    </div>
    
    <!-- MODE_CREATE -->
    
     <!-- MODE_UPDATE -->
    <div th:if="${mode == 'MODE_UPDATE'}">
     <!-- content-header -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Edit Income</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
              <li class="breadcrumb-item active"><a href="/income">Income</a></li>
               <li class="breadcrumb-item active">Edit</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
    
      <div class="container-fluid">
       <!-- main -->
           <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-body">
              			<form autocomplete="off" action="#" th:action="@{/income/save}"
                              th:object="${income}" method="post" class="form-horizontal"
                              role="form">
                            <fieldset>
                              
                                <!-- Text input-->
                                <input type="hidden" name="id" th:field="*{id}" />

                              <div class="form-row">
                               <div class="form-group col-md-6">
                                    <label for="party">Party</label>
                                        <input type="text" th:field="*{party}" id="party"
                                               placeholder="Party" class="form-control" required/>
                                         <div class="text text-danger" th:if="${#fields.hasErrors('party')}" th:errors="*{party}"></div>
                                </div>
                                 
                               <div class="form-group col-md-6">
                                    <label for="amount">Amount</label>
                                        <input type="number" th:field="*{amount}" id="amount"
                                               placeholder="Amount" class="form-control"/>
                                        <div class="text text-danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
                                </div>
                                </div>
                                
                                   <div class="form-row">
                                 <div class="form-group col-md-6">
                                    <label for="total">Total Amount</label>
                                        <input type="number" th:field="*{total_amount}" id="total_amount"
                                               placeholder="Total Amount" class="form-control" />
                                        <div class="text text-danger" th:if="${#fields.hasErrors('total_amount')}" th:errors="*{total_amount}"></div>
                                </div>
                                  <div class="form-group col-md-6 d-none">
                                    <label for="remaining">Remaining</label>
                                        <input type="number" th:field="*{remaining}" id="remaining"
                                               placeholder="Remaining" class="form-control" readonly />
                                        <div class="text text-danger" th:if="${#fields.hasErrors('remaining')}" th:errors="*{remaining}"></div>
                                </div>
                                 <div class="form-group col-md-6">
                                    <label  for="date">Date</label>
                                        <input type="text" th:field="*{date}"
                                               placeholder="Date" class="form-control" id="date" readonly/>
                                        <div class="text text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
                                  </div>
                                </div>

                                <!-- Button (Double) -->
                                <div class="form-group">
                                        <button type="submit" id="submitButton" name="submitButton"
                                                class="btn btn-success float-right" style="margin-left:8px;"> Save </button>
                                                
                                    <button type="button" class="btn btn-default float-right" onclick="window.history.back()" > Go back</button>

                                </div>
                            </fieldset>
                        </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
           <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    
    </div>
    <!-- /.content -->
    </div>
    
    
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

</div>
</body>
</html>
