<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="stylesheet"
	href="/plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet"
	href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="/css/adminlte.min.css">
<link
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
	rel="stylesheet">
<title>Home</title>
</head>

<body class="hold-transition sidebar-mini">

	<div layout:fragment="content">

		<div class="login-box">
			<div class="login-logo">
				<a href="#"><b>Singh</b>Industry</a>
			</div>
			<!-- /.login-logo -->
			<div class="card">
				<div class="card-body login-card-body">
					<p class="login-box-msg">Sign in to start</p>
					<div th:if="${param.error}">
						<div class="alert alert-danger">
							<span>Email or password invalid!</span>
						</div>
					</div>

					<form th:action="@{/login}" method="post">

						<div class="input-group mb-4">
							<div class="input-group-prepend">
								<span class="input-group-text"><i
									class="fa fa-envelope-o fa-fw blue"></i></span>
							</div>
							<input type="email" class="form-control "
								placeholder="Email address" id="email" name="email">
						</div>

						<div class="input-group mb-4">
							<div class="input-group-prepend">
								<span class="input-group-text"><i
									class="fa fa-key fa-fw blue"></i></span>
							</div>
							<input type="password" class="form-control "
								placeholder="Password" id="password" name="password">
						</div>

						<div class="row">
							<div class="col-8">
								<div class="checkbox icheck">
									<p>
										<input type="checkbox"> Remember Me
									</p>
								</div>
							</div>
							<!-- /.col -->
							<div class="col-4">
								<button type="submit" class="btn btn-primary btn-block btn-flat">Sign
									In</button>
							</div>
							<!-- /.col -->
						</div>
					</form>
				</div>

				<!-- /.login-card-body -->
			</div>

		</div>

	</div>
	<div class="footer text-center">
		<strong>Copyright &copy; 2018 <a
			href="http://www.segonatech.com">SegonaTech</a>.
		</strong> All rights reserved.
	</div>
</body>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script>
	$(function() {
		$('input').iCheck({
			checkboxClass : 'icheckbox_square-blue',
			radioClass : 'iradio_square-blue',
			increaseArea : '20%' // optional
		})
	})
</script>
</html>
