<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Stock Out</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body class="hold-transition sidebar-mini">

	<div layout:fragment="content">
		<div class="wrapper">

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">

				<!-- MODE_CREATE -->
				<div>
					<!-- content-header -->
					<div class="content-header">
						<div class="container-fluid">
							<div class="row mb-2">
								<div class="col-sm-6">
									<h1 class="m-0 text-dark">Create Stock Out</h1>
								</div>
								<div class="col-sm-6">
									<ol class="breadcrumb float-sm-right">
										<li class="breadcrumb-item"><a href="/home">Home</a></li>
										<li class="breadcrumb-item active"><a href="/stock_out">Stock
												Out</a></li>
										<li class="breadcrumb-item active">Create</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					<!-- /.content-header -->

					<!-- Main content -->
					<div class="content">

						<div class="container-fluid">
							<!-- main -->
							<div class="row">
								<div class="col-12">

									<div class="card">
										<div class="card-body">
											<form autocomplete="off" action="#"
												th:action="@{/stock_out/save}" th:object="${stock_out}"
												method="post" class="form-horizontal" role="form">
												<fieldset>

													<!-- Text input-->
													<input type="hidden" name="id" th:field="*{id}" />

													<div class="form-row">

														<div class="form-group col-md-4">
															<label for="type">Product</label> <select
																class="form-control" id="product" th:field="*{product}">
																<option value="default">--- Select Product ---</option>
																<option th:each="product1: ${products}"
																	th:value="${product1.product}"
																	th:text="${product1.product}"
																	th:with="selected=${product1.product}" />
															</select>

														</div>
														<div class="form-group col-md-2">
															<label for="available">Available</label> <span
																id="available" class="form-control"></span>
														</div>



														<div class="form-group col-md-6">
															<label for="name">Party</label> <input type="text"
																th:field="*{party}" id="party" placeholder="Party"
																class="form-control" />
															<div class="text text-danger"
																th:if="${#fields.hasErrors('party')}"
																th:errors="*{party}"></div>
														</div>
													</div>


													<div class="form-row">
														<div class="form-group col-md-6">
															<label for="quantity">Rate</label> <input type="number"
																th:field="*{rate}" id="rate" placeholder="Rate"
																class="form-control" />
															<div class="text text-danger"
																th:if="${#fields.hasErrors('rate')}" th:errors="*{rate}"></div>
														</div>


														<div class="form-group col-md-4">
															<label for="quantity">Quantity</label> <input
																type="number" th:field="*{quantity}" id="quantity"
																placeholder="Quantity" class="form-control" />
															<div class="text text-danger"
																th:if="${#fields.hasErrors('quantity')}"
																th:errors="*{quantity}"></div>
														</div>
														<div class="form-group col-md-2">
															<label for="unit">Unit</label> <select
																class="form-control" th:field="*{unit}" id="unit">
																<option th:value="piece" selected="selected"
																	th:text="piece"></option>
																<option th:value="kg" selected="selected" th:text="kg"></option>
																<option th:value="meter" selected="selected"
																	th:text="meter"></option>
															</select>
														</div>
													</div>
													<div class="form-row">
														<div class="form-group col-md-6">
															<label for="name">Delivered</label> <input type="number"
																th:field="*{delivered}" id="delivered"
																placeholder="Delivered" class="form-control" />
															<div class="text text-danger"
																th:if="${#fields.hasErrors('delivered')}"
																th:errors="*{delivered}"></div>
														</div>
														<div class="form-group col-md-6">
															<label for="name">Remaining</label> <input type="text"
																th:field="*{remaining}" id="remaining"
																placeholder="Remaining" class="form-control" readonly />
															<div class="text text-danger"
																th:if="${#fields.hasErrors('remaining')}"
																th:errors="*{remaining}"></div>
														</div>
													</div>
													<div class="form-row">
														<div class="form-group col-md-6">
															<label for="quantity">Total</label> <input type="number"
																th:field="*{total}" id="total1" placeholder="Total"
																class="form-control" readonly />
															<div class="text text-danger"
																th:if="${#fields.hasErrors('total')}"
																th:errors="*{total}"></div>
														</div>
														<div class="form-group col-md-6">
															<label for="date">Date</label> <input type="text"
																th:field="*{date}" placeholder="Date"
																class="form-control" id="date" />
															<div class="text text-danger"
																th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
														</div>
													</div>
													<!-- Button (Double) -->
													<div class="form-group">
														<a class="btn btn-secondary float-right" href="/stock_out"
															role="button" style="margin-left: 8px;"> Cancel</a>
														<button type="submit" id="submitButton"
															name="submitButton" class="btn btn-success float-right">Save</button>
													</div>
												</fieldset>
											</form>
											<script th:inline="javascript">
														   
															$("#product").change(function() {
																
																var selectedProduct = [[${products}]];
																
																var selected = $("#product").val();
																
																for(var i=0;i<selectedProduct.length;i++){
																	
																		if(selected==selectedProduct[i].product){
																			
																			$('#available').text(selectedProduct[i].quantity+' '+selectedProduct[i].unit);
																			str=selectedProduct[i].product;
																			
																		}if(selected=="default"){
																			$('#available').text("");
																		}
																	}
																
																$('#quantity').keyup(function(){
																	
																	var ava = $('#available').text();
																	var str = ava.split(" ");
																	
																	  if ($(this).val() > parseInt(str[0])){
																		  
																	    alert("Only "+str[0]+" is available");
																	    $(this).val(str[0]);
																	    
															    	    var delivered = parseFloat($('#delivered').val()) || 0;
															    	    var quantity = parseFloat($(this).val()) || 0;
	
															    	    $('#remaining').val(quantity - delivered);  
															    	    
															    	    var rate = parseFloat($('#rate').val()) || 0;
															    	    var quantity = parseFloat($(this).val()) || 0;

															    	    $('#total1').val(rate * quantity); 
																     
																	  }
																	  
																	});		
																

																$('#delivered').keyup(function(){
																	
																	var ava = $('#quantity').val();
																	console.log($(this).val()+" "+ava)
																																		
																	  if ($(this).val() > parseInt(ava)){
																	    alert("Only "+ava+" is available for delivery");
																	    $(this).val(parseInt(ava));
																	    
																	    var delivered = parseFloat($(this).val()) || 0;
															    	    var quantity = parseFloat($('#quantity').val()) || 0;
	
															    	    $('#remaining').val(quantity - delivered);
								  
															     
																	  }
																	});
																
															});
															
						
														</script>
										</div>

										<!-- /.card-body -->
									</div>

									<!-- /.card -->
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.container-fluid -->

					</div>

					<!-- /.content -->
				</div>

				<!-- MODE_UPDATE -->


			</div>
			<!-- /.content-wrapper -->
		</div>
		<!-- ./wrapper -->

	</div>
</body>
</html>