<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Karigar</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body class="hold-transition sidebar-mini">

	<div layout:fragment="content">
		<div class="wrapper">

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<div th:if="${mode == 'MODE_ALL'}">
					<!-- content-header -->
					<div class="content-header">
						<div class="container-fluid">
							<div class="row mb-2">
								<div class="col-sm-6">
									<h1 class="m-0 text-dark">Karigar</h1>
								</div>
								<div class="col-sm-6">
									<ol class="breadcrumb float-sm-right">
										<li class="breadcrumb-item"><a href="/home">Home</a></li>
										<li class="breadcrumb-item active">Karigar</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					<!-- /.content-header -->

					<!-- Main content -->
					<div class="content">

						<div class="container-fluid">
							<!-- main -->
							<div class="row">
								<div class="col-12">

									<div class="card table-responsive">
										<div class="card-body">
											<table id="example1" class="table table-bordered">
												<a class="btn btn-sm btn-primary float-right"
													href="karigar/create" role="button"><i
													class="fa fa-plus" aria-hidden="true"></i> Add Karigar</a>

												<thead id="head">
													<tr>
														<th>Id</th>
														<th>Name</th>
														<th class="no-sort">Join Date</th>
														<th class="no-sort">Salary</th>
														<th class="no-sort">Status</th>
														<th class="no-sort">Action</th>
													</tr>
												</thead>
												<tbody>

													<tr th:each="karigar : ${karigars}">
														<td th:text="${karigar.id}"></td>
														<td th:each="emp:${karigar.employee}"
															th:text="${emp.name}"></td>
														<td th:each="emp:${karigar.employee}"
															th:text="${emp.join_date}"></td>
															<td th:text="${karigar.salary}"></td>

														<td><span th:each="emp:${karigar.employee}"
															th:attr="class=${emp.status == 'In' ? 'badge bg-primary' : ' badge bg-warning'}"
															th:text="${emp.status}"></span></td>
														<td><a
															th:href="@{karigar/view(id=${karigar.id})}"
															class="btn btn-sm btn-success" title="View"> <span
																class="glyphicon glyphicon-pencil"></span><i
																class="fa fa-eye fa-1x"></i></a> <a
															th:href="@{karigar/update(id=${karigar.id})}"
															class="btn btn-info btn-sm" title="Edit"> <span
																class="glyphicon glyphicon-pencil"></span><i
																class="fa fa-edit fa-1x"></i></a> <a href=""
															class="btn btn-danger btn-sm" title="Delete"
															data-toggle="modal"
															th:attr="data-target='#exampleModal'+${karigar.id}">

																<span class="glyphicon glyphicon-trash"></span><i
																class="fa fa-trash-o fa-1x"></i>
														</a></td>
														<!-- Delete modal -->
														<div class="modal fade"
															th:attr="id='exampleModal'+${karigar.id}">
															<div class="modal-dialog" role="document">
																<div class="modal-content">
																	<div class="modal-body text-center">
																		<button type="button" class="close"
																			data-dismiss="modal" aria-label="Close">
																			<span aria-hidden="true">&times;</span>
																		</button>
																		<div>
																			<i class="fa fa-times-circle-o red fa-5x"></i>
																			<h5 class="mt-4">Are You Sure?</h5>
																		</div>
																		<div class="mt-4" style="color: #6c757d;">Do you
																			really want to delete? This process cannot be undone.</div>
																		<div class="mt-4">
																			<button type="button" class="btn btn-secondary"
																				data-dismiss="modal">Cancel</button>
																			<a
																				th:href="@{karigar/delete(id=${karigar.id})}"
																				class="btn btn-danger">Delete</a>
																		</div>
																	</div>

																</div>
															</div>
														</div>
													</tr>

												</tbody>

												<tfoot>
													<tr>
														<th>Id</th>
														<th>Name</th>
														<th>Join Date</th>
														<th>Salary</th>
														<th>Status</th>
														<th>Action</th>
													</tr>
												</tfoot>
											</table>
										</div>
										<!-- /.card-body -->
									</div>
									<!-- /.card -->
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.container-fluid -->

					</div>
					<!-- /.content -->
				</div>
				<!-- MODE_ALL end -->

				<!-- MODE_UPDATE -->
				<div th:if="${mode == 'MODE_UPDATE'}">
					<!-- content-header -->
					<div class="content-header">
						<div class="container-fluid">
							<div class="row mb-2">
								<div class="col-sm-6">
									<h1 class="m-0 text-dark">Edit Karigar</h1>
								</div>
								<div class="col-sm-6">
									<ol class="breadcrumb float-sm-right">
										<li class="breadcrumb-item"><a href="/home">Home</a></li>
										<li class="breadcrumb-item active"><a
											href="/karigar">Karigar</a></li>
										<li class="breadcrumb-item active">Edit</li>
									</ol>
								</div>
							</div>
						</div>
					</div>
					<!-- /.content-header -->

					<!-- Main content -->
					<div class="content">

						<div class="container-fluid">
							<!-- main -->
							<div class="row">
								<div class="col-12">

									<form autocomplete="off" action="#"
										th:action="@{/karigar/save}"
										th:object="${karigar}" method="post"
										class="form-horizontal" role="form">
										<fieldset>

											<div class="card mx-auto" style="width: 40rem;">
												<div class="card-body">
													<input type="hidden" name="id" th:field="*{id}" />
													<!-- Text input-->
													<input type="hidden" name="id" th:field="*{employee.id}" />

													<div class="form-column">
														<div class="form-group">
															<label for="name">Employee Name</label> <input
																type="text" th:field="*{employee.name}" id="name"
																placeholder="Name" class="form-control" />

														</div>
														<div class="form-group ">
															<label for="type">Join Date</label> <input type="text"
																th:field="*{employee.join_date}" id="date"
																placeholder="Join Date" class="form-control" />

														</div>
														<div class="form-group ">
															<label for="total">Status</label> <select
																class="form-control" th:field="*{employee.status}"
																id="status">
																<option th:value="In" selected="selected" th:text="In"></option>
																<option th:value="Left" selected="selected"
																	th:text="Left"></option>
															</select>

														</div>
														<div class="form-group">
															<label for="name">Salary</label> <input type="number"
																th:field="*{salary}" id="salary" placeholder="Salary"
																class="form-control" />

														</div>
													</div>
													<div class="form-group float-right">
														<button type="submit" id="submitButton"
															name="submitButton" class="btn btn-success">
															Update</button>

														<a class="btn btn-secondary" href="/karigar"
															role="button"> Cancel</a>

													</div>

												</div>
												<!-- /.card-body -->
											</div>


										</fieldset>
									</form>


								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.container-fluid -->

					</div>
					<!-- /.content -->
				</div>


			</div>
			<!-- /.content-wrapper -->
		</div>
		<!-- ./wrapper -->

	</div>
</body>
</html>
